@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<div class="msg">
    <div class="ticker">
        <div class="title">
            <h5>Message to Lucas</h5>
        </div>
        <div class="news">
            <marquee>
                <p>
                    Important; this is the ticker we discussed about but I did it only with html & css.
                    Are there any other ways to do it?
                </p>
            </marquee>
        </div>
    </div>
</div>
<SurveyPrompt Title="How is Blazor working for you?" />
